body {
    background-color: #434A59;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: larger;
}
h1, .verde {
    color: #05F240;
    font-size: larger;
    font-weight: bolder;
}

.title{
    margin-top: 5%;
}

button {
    background: none;
    text-decoration: none;
    border: none;
}

#playButton, #stopButton{
    padding: 10px;
    background-color: #636A89;
    color: white;
    border: none;
    border-radius: 10%;
}
#playButton:hover, #stopButton:hover {
    padding: 10px;
    background-color: #A65371;    
    color: white;
    border: none;
    border-radius: 10%;
}

.oculto{
    display:none;
}

.whiteKey{
    background-color: papayawhip;
    color: #434A59;
}

.blackKey, .blackKey button {
    background-color: #102030;
    color: aliceblue;
}

footer {
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
}